.App {
  display: grid;
  grid-template-columns: [col] 50% [col] 50%;
  grid-template-rows: [row] auto [row] auto [row] auto;

  grid-gap: 10px;

  margin: 0 auto;
  max-width: 1000px;
}

.ticker {
  grid-column: col;
  grid-row: row;
}
.trades {
  grid-column: col 2;
  grid-row: row;
}
.orderbook {
  grid-column: col / span 2;
  grid-row: row 2;
}
